.sidebarChannel{
    // padding: 20px;
    margin-left:20px ;
    width: 90%;
    h4{
        color: #7b7c85;
        // margin-left: 5px;
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        font-size: 1.1rem;

        &:hover{
            color: white;
            background-color: #33363d;
            border-radius: 7px;
        }
    }

    .sidebarChannelHash{
        font-size: 22px;
        padding-right: 10px;
    }
}